force-app/main/default/flows/Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_case_to_appt</name>
        <label>assign case to appt</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>AppointmentSetup.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_contact_to_appt</name>
        <label>assign contact to appt</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>AppointmentSetup.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact_variable.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sales_or_service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_description</name>
        <label>assign description</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>AppointmentSetup.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>new_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_opp_to_appt</name>
        <label>assign opp to appt</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AppointmentSetup.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_type_to_sales</name>
        <label>assign type to sales</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>AppointmentSetup.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>new_opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_type_to_service</name>
        <label>assign type to service</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>AppointmentSetup.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Describe</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Sales_or_service</name>
        <label>Sales or service</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Don_t_do_anything</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AppointmentSetup.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_type_to_sales</targetReference>
            </connector>
            <label>Sales</label>
        </rules>
        <rules>
            <name>Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AppointmentSetup.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_type_to_service</targetReference>
            </connector>
            <label>Service</label>
        </rules>
    </decisions>
    <description>forgot type in create appt record</description>
    <interviewLabel>Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_appointment</name>
        <label>Create appointment</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <assignRecordIdToReference>AppointmentSetup.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Don_t_do_anything_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>contact_variable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CustomerName.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time__c</field>
            <value>
                <elementReference>AppointmentSetup.Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>AppointmentSetup.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Appointment__c</object>
    </recordCreates>
    <recordCreates>
        <name>new_case</name>
        <label>new case</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>assign_case_to_appt</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Don_t_do_anything_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contact_variable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>case.Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>case.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>new_contact</name>
        <label>new contact</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignRecordIdToReference>contact_variable.Id</assignRecordIdToReference>
        <connector>
            <targetReference>assign_contact_to_appt</targetReference>
        </connector>
        <faultConnector>
            <targetReference>rollback_contact</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>CustomerName.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>CustomerName.lastName</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>new_opportunity</name>
        <label>new opportunity</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>assign_opp_to_appt</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Don_t_do_anything_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>AppointmentSetup.Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contact_variable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CustomerName.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordRollbacks>
        <description>the decision got confused, so don&apos;t add a record</description>
        <name>Don_t_do_anything</name>
        <label>Don&apos;t do anything</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <description>the decision got confused, so don&apos;t add a record</description>
        <name>Don_t_do_anything_0</name>
        <label>Don&apos;t do anything</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Error_case</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <description>the decision got confused, so don&apos;t add a record</description>
        <name>Don_t_do_anything_0_0</name>
        <label>Don&apos;t do anything</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Error_Opp</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <description>the decision got confused, so don&apos;t add a record</description>
        <name>Don_t_do_anything_0_0_0</name>
        <label>Don&apos;t do anything</label>
        <locationX>1370</locationX>
        <locationY>1718</locationY>
        <connector>
            <targetReference>Error_appt</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <name>rollback_contact</name>
        <label>rollback contact</label>
        <locationX>1634</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Error_Contact</targetReference>
        </connector>
    </recordRollbacks>
    <screens>
        <name>Buy_a_Car</name>
        <label>Buy a Car</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_description</targetReference>
        </connector>
        <fields>
            <name>CustomerName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>salutationOptions</name>
                <value>
                    <stringValue>Mr.,Mrs.,Ms.,Mx.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>AppointmentSetup.Type__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>AppointmentSetup.Time__c</objectFieldReference>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Please describe what kind of appointment you want to make today.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <helpText>&lt;p&gt;You can schedule an appointment for buying a car or to repair your vehicle here!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select &quot;Sales&quot; for sales-related events, such as trying out cars or negotiating prices.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select &quot;Services&quot; for support-related events, such as warranty coverage.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Case_Describe</name>
        <label>Case Describe</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>new_case</targetReference>
        </connector>
        <fields>
            <name>Case_Help</name>
            <fieldText>&lt;p&gt;Please further describe what kinds of issues you&apos;re facing with your car with the select fields below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>case.Subject</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>case.Type</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>case.Reason</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Error_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ErrorMessage_0</name>
                    <fieldText>&lt;p&gt;We&apos;re sorry! Something went wrong while scheduling your appointment. Please try again later.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_appt</name>
        <label>Error</label>
        <locationX>1370</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_appt_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Error_appt_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ErrorMessage_0_0_0_0_0</name>
                    <fieldText>&lt;p&gt;We&apos;re sorry! Something went wrong while scheduling your appointment. Please try again later.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_case</name>
        <label>Error</label>
        <locationX>842</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_case_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Error_case_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ErrorMessage_0_0_0</name>
                    <fieldText>&lt;p&gt;We&apos;re sorry! Something went wrong while scheduling your appointment for a service order. Please try again later.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Contact</name>
        <label>Error</label>
        <locationX>1634</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Contact_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Error_Contact_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ErrorMessage_0_0</name>
                    <fieldText>&lt;p&gt;We&apos;re sorry! Something went wrong with gathering your contact details. Please try again later.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Opp</name>
        <label>Error</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Buy_a_Car</targetReference>
        </connector>
        <fields>
            <name>Error_Opp_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Error_Opp_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ErrorMessage_0_0_0_0</name>
                    <fieldText>&lt;p&gt;We&apos;re sorry!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Something went wrong while scheduling your appointment for buying a car. You may have chosen a time slot that has already been taken by someone else. Please choose a different time.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>578</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Success_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SuccessMessage</name>
                    <fieldText>&lt;p&gt;Successfully scheduled an appointment! See you soon!&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buy_a_Car</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AppointmentSetup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Appointment__c</objectType>
    </variables>
    <variables>
        <name>CarOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>contact_variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
