force-app/main/default/flows/Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_new_case</name>
        <label>Add new case</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <actionName>NewCase</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>get_case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Don_t_add_case</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>get_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <elementReference>NewStatus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>Service</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_contact</name>
        <label>New contact</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <actionName>NewContact</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>get_contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Don_t_add_case_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>contact.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FirstName</name>
            <value>
                <elementReference>CustomerName.firstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LastName</name>
            <value>
                <elementReference>CustomerName.lastName</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_potential_sale</name>
        <label>New potential sale</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <actionName>NewOpportunity</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>get_opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Don_t_add_sale</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Name</name>
            <value>
                <elementReference>contact_variable.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StageName</name>
            <value>
                <elementReference>ProspectingStage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_case_to_appointment</name>
        <label>assign case to appointment</label>
        <locationX>842</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>AppointmentSetup.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_case.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_contact_to_appointment</name>
        <label>assign contact to appointment</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>AppointmentSetup.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sales_or_service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_description</name>
        <label>assign description</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>AppointmentSetup.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_opportunity_to_appointment</name>
        <label>assign opportunity to appointment</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>AppointmentSetup.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_type_to_sales</name>
        <label>assign type to sales</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>AppointmentSetup.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_potential_sale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_type_to_service</name>
        <label>assign type to service</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>AppointmentSetup.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_new_case</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>NewStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </constants>
    <constants>
        <name>ProspectingStage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Prospecting</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Sales_or_service</name>
        <label>Sales or service</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Don_t_do_anything</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AppointmentSetup.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_type_to_sales</targetReference>
            </connector>
            <label>Sales</label>
        </rules>
        <rules>
            <name>Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AppointmentSetup.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_type_to_service</targetReference>
            </connector>
            <label>Service</label>
        </rules>
    </decisions>
    <description>fix stage issues</description>
    <interviewLabel>Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_appointment</name>
        <label>Create appointment</label>
        <locationX>842</locationX>
        <locationY>1598</locationY>
        <assignRecordIdToReference>AppointmentSetup.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>contact_variable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CustomerName.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time__c</field>
            <value>
                <elementReference>AppointmentSetup.Time__c</elementReference>
            </value>
        </inputAssignments>
        <object>Appointment__c</object>
    </recordCreates>
    <recordLookups>
        <name>get_case</name>
        <label>get case</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_case_to_appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_contact</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_contact</name>
        <label>get contact</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_contact_to_appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerName.firstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerName.lastName</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contact_variable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_opportunity</name>
        <label>get opportunity</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_opportunity_to_appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact_variable.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Don_t_add_case</name>
        <label>Don&apos;t add case</label>
        <locationX>1370</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Error_0_0</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <name>Don_t_add_case_0</name>
        <label>Don&apos;t add case</label>
        <locationX>2426</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Error_0_0_0_0_0</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <name>Don_t_add_sale</name>
        <label>Don&apos;t add sale</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Error_schedule</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <description>the decision got confused, so don&apos;t add a record</description>
        <name>Don_t_do_anything</name>
        <label>Don&apos;t do anything</label>
        <locationX>1634</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Error_0</targetReference>
        </connector>
    </recordRollbacks>
    <screens>
        <name>Buy_a_Car</name>
        <label>Buy a Car</label>
        <locationX>842</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_description</targetReference>
        </connector>
        <fields>
            <name>CustomerName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>salutationOptions</name>
                <value>
                    <stringValue>Mr.,Mrs.,Ms.,Mx.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>contact</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>AppointmentSetup.Type__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>AppointmentSetup.Time__c</objectFieldReference>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Please describe what kind of appointment you want to make today.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <helpText>&lt;p&gt;You can schedule an appointment for buying a car or to repair your vehicle here!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select &quot;Sales&quot; for sales-related events, such as trying out cars or negotiating prices.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select &quot;Services&quot; for support-related events, such as warranty coverage.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_0</name>
        <label>Error</label>
        <locationX>1634</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Error_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ErrorMessage_0</name>
                    <fieldText>&lt;p&gt;We&apos;re sorry! Something went wrong while scheduling your appointment. Please try again later.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_0_0</name>
        <label>Error</label>
        <locationX>1370</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Error_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ErrorMessage_0_0</name>
                    <fieldText>&lt;p&gt;We&apos;re sorry! Something went wrong while scheduling your appointment. Please try again later.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_0_0_0_0_0</name>
        <label>Error</label>
        <locationX>2426</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_0_0_0_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Error_0_0_0_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ErrorMessage_0_0_0_0_0</name>
                    <fieldText>&lt;p&gt;We&apos;re sorry! Something went wrong while scheduling your appointment. Please try again later.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_schedule</name>
        <label>Error</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_schedule_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Error_schedule_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ErrorMessage_schedule</name>
                    <fieldText>&lt;p&gt;The time slot you chose may have been taken by someone else. Please try a different time.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>842</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Success_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SuccessMessage</name>
                    <fieldText>&lt;p&gt;Successfully scheduled an appointment! See you soon!&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buy_a_Car</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AppointmentSetup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Appointment__c</objectType>
    </variables>
    <variables>
        <name>CarOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>contact_variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
